.fetti {
    top: -100px;
    left: 100px;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

@keyframes fetti_fall {
  0% {
    top: 0px;
  }
  100% {
    top: 100vh;
  }
}

@keyframes fetti_rotate {
  0% {
    transform: rotate(0deg);
    width: 10px;
  }
  50% {
    width: 0;
  }
  100% {
    transform: rotate(360deg);
    width: 10px;
  }
}
